<div class="view-attendee">
  <div *ngIf="attendee">
    <h2>{{ attendee.user?.username }}</h2>
    <div class="attendee-details">
      <img [src]="attendee.user?.profile_img" alt="Profile Image">
      <div class="details">
        <p><strong>Bio:</strong> {{ attendee.bio }}</p>
        <p><strong>First Name:</strong> {{ attendee.first_name }}</p>
        <p><strong>Last Name:</strong> {{ attendee.last_name }}</p>
        <p><strong>Email:</strong> {{ attendee.user?.email }}</p>
      </div>
    </div>
  </div>
  <button (click)="onBack()">Back</button>
</div>
