<div class="view-organizer">
  <div *ngIf="organizer">
    <h2>{{ organizer.company }}</h2>
    <div class="organizer-details">
      <img [src]="organizer.user?.profile_img" alt="Profile Image">
      <div class="details">
        <p><strong>Bio:</strong> {{ organizer.bio }}</p>
        <p><strong>Username:</strong> {{ organizer.user?.username }}</p>
        <p><strong>Email:</strong> {{ organizer.user?.email }}</p>
        <p><strong>Phone Number:</strong> {{ organizer.user?.phone_number }}</p>
      </div>
    </div>
  </div>
  <button (click)="onBack()">Back</button>
</div>
