<header class="header" [class.scrolled]="isScrolled">
  <div class="header-content">
    <div class="logo">
      <img src="/logo.svg" alt="Plana Logo" />
      <span class="company-name">Plana</span>
    </div>
    <nav class="nav-links" [class.active]="menuOpen">
      <!-- <a routerLink="/" >Home</a>
      <a routerLink="/events" >Events</a>
      <a routerLink="/about" >About Us</a>
      <a routerLink="/contact" >Contact</a> -->
      <a href="/">Home</a>
      <a href="/events">Events</a>
      <a href="/tickets">Tickets</a>
      <a href="#">About Us</a>
      <a href="#">Contact</a>
    </nav>
    <div class="auth-buttons" *ngIf="showAuthButtons" [class.active]="menuOpen">
      <button (click)="navigateToLogin()">Login</button>
      <button (click)="navigateToRegister()">Register</button>
    </div>
    <div class="menu-icon" (click)="toggleMenu()">
      <span [class.active]="menuOpen"></span>
      <span [class.active]="menuOpen"></span>
      <span [class.active]="menuOpen"></span>
    </div>
  </div>
</header>
