.upcoming-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 20px;
}

.heading {
  font-size: 3rem;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}
