<footer class="footer">
  <div class="footer-content">
    <div class="footer-logo">
      <img src="/logo.svg" alt="Plana Logo" />
      <p>Plana</p>
    </div>
    <div class="footer-links">
      <h3>Quick Links</h3>
      <ul>
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/events">Events</a></li>
        <li><a routerLink="/blog">Blog</a></li>
        <li><a routerLink="/contact">Contact</a></li>
      </ul>
    </div>
    <div class="footer-social">
      <h3>Follow Us</h3>
      <div class="social-links">
        <a href="https://facebook.com" target="_blank">
          <img src="/icons/facebook.png" alt="Facebook" />
        </a>
        <a href="https://twitter.com" target="_blank">
          <img src="/icons/twitter.png" alt="Twitter" />
        </a>
        <a href="https://instagram.com" target="_blank">
          <img src="/icons/instagram.png" alt="Instagram" />
        </a>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2024 Plana. All rights reserved.</p>
  </div>
</footer>
