.event-list {
  padding: 20px;
  padding-top: 70px;
  color: #ffffff;
  background-color: #081028;
}

.section-title {
  font-size: 2em;
  margin-bottom: 20px;
  color: #cb3cff;
}

.events-filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.events-filters input,
.events-filters select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #aeb9e1;
  background-color: #061027;
  color: #ffffff;
}

.events-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.event-card {
  flex: 1 1 calc(33.333% - 20px);
  background-color: #0b1739;
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.event-card:hover {
  transform: translateY(-10px);
}

.event-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

.event-details {
  margin-top: 10px;
}

.event-title {
  font-size: 1.5em;
  color: #00c2ff;
}

.event-date,
.event-venue,
.event-description {
  margin: 5px 0;
  color: #aeb9e1;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-controls .ngx-pagination {
  display: flex;
  gap: 10px;
  align-items: center;
}

.pagination-controls .ngx-pagination .current {
  background-color: #cb3cff;
  color: #ffffff;
  border-radius: 5px;
  padding: 5px 10px;
}

@media (max-width: 768px) {
  .events-container {
    flex-direction: column;
    align-items: center;
  }

  .event-card {
    width: 90%;
  }
}
