.top-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 0.5rem 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 999;
  border-radius: 10px;
}

.search-section{
  width: 40%;
  height: 100%;
}

.search-section form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.search-section input {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  color: #ffffff;
  outline: none;
  border: 1px solid #aeb9e1;
}

.search-section button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  background-color: #00c2ff;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-section button:hover {
  background-color: #0e43fb;
}

.error-container,
.success-container {
  padding: 0.5rem;
  border-radius: 5px;
}

.error-container {
  background-color: rgba(255, 0, 0, 0.3);
  color: #ff0000;
}

.success-container {
  background-color: rgba(0, 255, 0, 0.3);
  color: #00ff00;
}

@media (max-width: 768px) {
  .top-bar {
    flex-direction: column;
    align-items: flex-start;
  }

  .search-section {
    width: 100%;
    margin-bottom: 1rem;
  }

  .search-section form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .search-section input {
    flex-grow: 1;
    margin-right: 0.5rem;
  }
}
