.single-event {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  color: #aeb9e1;
}

.event-details {
  text-align: center;
  margin-bottom: 20px;
}

.event-images {
  position: relative;
  text-align: center;
}

.current-image {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 10px;
}

.image-controls {
  margin-top: 10px;
}

.image-controls button {
  background-color: #0e43fb;
  border: none;
  padding: 10px 20px;
  color: #fff;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
}

.related-events {
  margin-top: 50px;
  text-align: center;
}

.related-event-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.related-event-card {
  background-color: #061027;
  padding: 15px;
  border-radius: 10px;
  width: 300px;
  color: #aeb9e1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.related-event-card:hover {
  transform: scale(1.05);
}

.related-event-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.related-event-details {
  margin-top: 10px;
}
