.create-organizer {
  width: 100%;
  padding: 1rem;
}

.message {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
}

.message.error {
  background-color: rgba(255, 0, 0, 0.1);
  color: red;
}

.message.success {
  background-color: rgba(0, 255, 0, 0.1);
  color: green;
}

.form-group {
  margin-bottom: 1rem;
  position: relative;
}

.form-group textarea,
.form-group input {
  width: 100%;
  padding: 0.5rem;
  background: transparent;
  border: none;
  border-bottom: 1px solid #aeb9e1;
  color: #ffffff;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.form-group textarea:focus,
.form-group input:focus {
  border-color: #cb3cff;
  box-shadow: 0 4px 6px -1px rgba(203, 60, 255, 0.5);
}

.form-group textarea {
  resize: none;
}

.form-group input:hover {
  border-color: #00c2ff;
}

.form-actions {
  display: flex;
  gap: 1rem;
}

.form-actions button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.form-actions button[type="submit"] {
  background-color: #cb3cff;
  color: #ffffff;
}

.form-actions button[type="submit"]:hover {
  background-color: #a800d8;
  box-shadow: 0 4px 6px -1px rgba(203, 60, 255, 0.5);
}

.form-actions button[type="button"] {
  background-color: #aeb9e1;
  color: #081028;
}

.form-actions button[type="button"]:hover {
  background-color: #8f98b3;
  box-shadow: 0 4px 6px -1px rgba(174, 185, 225, 0.5);
}
