<section class="featured-events">
  <h2 class="section-title">Featured Events</h2>
  <div class="events-container">
    <div class="event-card" *ngFor="let event of events">
      <div class="event-img">
        <img [src]="event.images?.[0]?.url" alt="{{ event.title }}" class="event-image" />
      </div>
      <div class="event-details">
        <h3 class="event-title">{{ event.title }}</h3>
        <div class="rating">
          <ng-container *ngFor="let star of getRatingArray(event.average_rating || 0); let i = index">
            <i class="fa" [ngClass]="star"></i>
          </ng-container>
          <p>({{ event.number_of_reviews }})</p>
        </div>
        <p class="event-organizer" (click)="viewOrganizerEvents(event.organizer?.id || '', $event)">
          <strong>Organizer: </strong>  {{ event.organizer?.company }}
        </p>
        <p class="event-date"><strong>Date: </strong> {{ event.date | date: 'longDate' }}</p>
        <p class="event-time"><strong>Starts: </strong> {{ event.start_time }}</p>
        <p class="event-time"><strong>Ends: </strong> {{ event.end_time }}</p>
        <p class="event-venue"><strong>Venue: </strong> {{ event.venue }}</p>
      </div>
      <div class="action">
        <button (click)="viewEventDetails(event.id || '')">View More</button>
      </div>
    </div>
  </div>
</section>
