<!-- <div class="dashboard-container">
  <div class="analytics-summary">
    <div class="analytics-item">
      <h3>Total Events Attended</h3>
      <p>{{ totalEventsAttended }}</p>
    </div>
    <div class="analytics-item">
      <h3>Total Orders</h3>
      <p>{{ totalOrders }}</p>
    </div>
    <div class="analytics-item">
      <h3>Total Reviews Written</h3>
      <p>{{ totalReviewsWritten }}</p>
    </div>
    <div class="analytics-item">
      <h3>Total Tickets Purchased</h3>
      <p>{{ totalTicketsPurchased }}</p>
    </div>
  </div>

  <div class="charts-container">
    <div class="chart-item">
      <canvas baseChart
              [datasets]="monthlyEventParticipationData"
              [labels]="monthlyLabels"
              [options]="chartOptions"
              [legend]="true"
              chartType="bar">
      </canvas>
    </div>
    <div class="chart-item">
      <canvas baseChart
              [datasets]="monthlyOrdersData"
              [labels]="monthlyLabels"
              [options]="chartOptions"
              [legend]="true"
              chartType="bar">
      </canvas>
    </div>
    <div class="chart-item">
      <canvas baseChart
              [datasets]="ratingsDistributionData"
              [labels]="ratingsLabels"
              [options]="chartOptions"
              [legend]="true"
              chartType="pie">
      </canvas>
    </div>
  </div>
</div> -->
