<div class="forgot-password-container">
  <app-header></app-header>
  <div class="forgot-password-content">
    <div class="forgot-password-form">
      <h2>Forgot Password</h2>
      <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input type="email" [(ngModel)]="email" name="email" placeholder="Email" required autocomplete="off">
        </div>
        <button type="submit">Send Reset Link</button>
      </form>
      <div class="forgot-password-links">
        <p>Remembered your password? <a (click)="navigateToLogin()">Login</a></p>
      </div>
    </div>
  </div>
</div>
